body {
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px 5px #dedede;
  background-color: #ffffff;
}

.main-navigation {
  position: relative;
}

.main-navigation a {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  padding: 14px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #dbd8d5;
}

.main-navigation img {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  margin-left: -69px;
}

header a.active {
  color: #a1968f;
}

header a.active:hover {
  color: #604e43;
}

header a.active:active {
  color: #dbd8d5;
}

.main-navigation ul {
  display: table;
  table-layout: fixed;
  font-size: 0;
  width: 40%;
}

.main-navigation li {
  display: table-cell;
}

.left-side {
  float: left;
  padding: 0;
}

.right-side {
  float: right;
}

.main-img {  
  background: url(../img/white.png), url(../img/sedona.jpg);
  background-color: #e2f0f9;
  background-repeat: no-repeat;
  background-position: 50% 100%, 50% 29%;
  background-size: 100% auto, auto;
}

.background {
  overflow: hidden;
}

.img-text {
  margin: 75px 0;
}

.main-info {
  font-size: 21px;
  line-height: 26px;
  margin-top: 61px;
}

.main-info-reasons {
  font-size: 14px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 50px;
  font-weight: 100;
}

.reason-one {
  width: 100%;
  text-align: center;
  font-size: 0;
}

.reason-one-general {
  width: 33.33%;
  min-height: 256px;
  float: left;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  padding: 35px;
  box-sizing: border-box;
}

.reason-headline {
  display: block;
  font-size: 21px;
}

.reason-number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding: 0 60px;
  margin-top: 25px;
  margin-bottom: 22px;
  font-weight: 100;
}

.reason-text {
  display: block;
  font-size: 14px;
  font-weight: 100;
  margin-top: -3px;
}

.reason-one-img {
  width: 66.67%;
  height: 256px;
  float: right;
}

.reason-content {
  display: block;
  vertical-align: middle;
  width: 33.33%;
  padding-top: 62px;
  min-height: 330px;
  float: left;
  box-sizing: border-box;
}

.reason-content h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 18px;
}

.content-text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding: 0 55px;
  margin-top: 24px;
  font-weight: 100;
}

.reason-two-img {
  width: 66.67%;
  min-height: 256px;
  float: left;
  overflow: hidden;
}

.reason-two-general {
  width: 33.33%;
  min-height: 256px;
  float: right;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  box-sizing: border-box;
  padding: 35px 40px;
}

.reasons {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: #eeeeee;
}

.reason-rest-content {
  width: 33.33%;
  min-height: 256px;
  float: left;
  padding: 27px 20px;
  box-sizing: border-box;
}

.reasons-headline {  
  font-size: 21px;
  line-height: 21px;
}

.reason-rest-text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding: 0 40px;
  font-weight: 100;
}

.hotel-reserve {
  margin-top: 56px;
}

.interest {
  font-size: 30px;
  margin-bottom: 30px;
}

.text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 47px;
  font-weight: 100;
}

.search-form {
  width: 568px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.form-btn {
  font-size: 21px;
  line-height: 27px;
  display: block;
  padding: 30px 0;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
}

.form {
  display: block;
  padding: 55px;
  position: absolute;
  top: 85px;
  left: 0;
  background-color: #ffffff;
  text-align: left;  
}

.form-hidden {
  display: none;
}

.form-show {
  display: block;
  -webkit-animation-name: form-appearance;
  animation-name: form-appearance;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes form-appearance {
  0% {
  opacity: 0;
  }
    
  100% {
  opacity: 1;
  }
}

@keyframes form-appearance {
  0% {
  opacity: 0;
  }
    
  100% {
  opacity: 1;
  }
}

.dates {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}

.dates label {
  display: inline-block;
  vertical-align: middle;
  width: 93px;
  font-size: 14px;
  line-height: 26px;
  margin-right: 15px;
}

.dates input {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  width: 326px;
}

.dates input:hover {
  background-color: #ebebeb;
}

.dates input:focus {
  background-color: #ffffff;
  outline: 2px solid #ebebeb;
}

.calendar {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 38px;
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  margin-top: -18px;
  margin-left: -5px;
  background-image: url(../img/sprite.png);
  background-position: -42px -73px;
}

.calendar:hover {
  background-color: #ebebeb;
  background-position: -42px -4px;
}

.calendar:active {
  background-position: -42px -38px;
}

.adults {
  float: left;
}

.adults label {
  display: inline-block;
  vertical-align: middle;
  width: 93px;
  margin-right: 20px;
}

.increase {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  font-size: 26px;
  background-color: #f2f2f2;
  border: none;
  margin-left: -5px;
  color: #a9a9a9;
  cursor: pointer;
}

.increase:hover {
  color: #000000;
}

.increase:active {
  color: #81b3d2;
}

.decrease {  
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  font-size: 26px;
  background-color: #f2f2f2;
  border: none;
  margin-left: -5px;
  color: #a9a9a9;
  cursor: pointer;
}

.decrease:hover {
  color: #000000;
}

.decrease:active {
  color: #81b3d2;
}

.adults input {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 6px 10px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  width: 25px;
  margin-left: -5px;
}

.kids {
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.kids label {
  width: 100px;
  margin-right: 27px;
}

.kids input {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 6px 10px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  width: 20px;
  margin-left: -5px;
}
.btn {
  width: 458px;
  background-color: #81b3d2;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 16px 0;
  margin-top: 55px;
  text-transform: uppercase;
  border: none;
}

.btn:hover {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.map {
  width: 100%;
  height: 593px;
  margin-bottom: -123px;
  overflow: hidden;
}

.search-form-hotels {
  width: 100%;
  background: #6686ac url(../img/back_filter.jpg);
  color: #ffffff;
  background-position: 0 50%;
  text-align: left;
  outline: none;
  padding: 30px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-top: 2px;
}

.infrastructure {
  float: left;
  margin-left: 6%;
  outline: none;
}

.infrastructure label {
  display: block;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 100;
  margin-top: 25px;
  cursor: pointer;
  outline: none;
  position: relative;
}

input[type="checkbox"] + label:before {
  display: inline-block;
  vertical-align: top;
  content: '';
  width: 25px;
  height: 22px;
  margin-left: -40px;
  margin-right: 15px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -15px -443px;
}

input[type="checkbox"]:checked + label:before {
  background-position: -15px -391px;
}

input[type="checkbox"] + label:active:before {
  opacity: 0.5;
}

.infrastructure input {
  display: none;
}
  
.house-type {
  float: left;
  outline: none;
  margin-left: 10%;
}

.house-type label {
  display: block;
  outline: none;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 100;
  margin-top: 25px;
  cursor: pointer;
}

.house-type input[type="checkbox"] {
  display: none;
}

.cost {
  float: right;
  outline: none;
  margin-right: 6%;
  width: 320px;
}

.form-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  outline: none;
  margin-top: -3px;
  margin-bottom: 9px;
}

.price-control {
  height: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  font-size: 0;
  outline: none;
  position: relative;
}

.price-control::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-control label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  outline: none;
  cursor: pointer;
  padding-left: 64px;
}

.price-control .min-price,
.price-control .max-price {
  width: 90px;
}

.price-control input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 35px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-show {
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  margin-top: -5px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-weight: 100;
}

.cost a {
  display: block;
  margin: auto''
  text-decoration: none;
}

.btn-show:hover {
  color: #000000;
  background: #ffffff;
}

.search-results {
  width: 100%;
}

.results-title {
  padding: 13px 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.results-title h2 {
  display: block;
  float: left;
  padding-left: 6%; 
  margin-right: 47px;
}

.sort-type {
  display: block;
  float: left;
  margin-top: 23px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
}

.sort-type a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 34px;
  color: #d1d1d1;
  border-bottom: 1px dashed #81b3d2;
  cursor: pointer;
}

.sort-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;  
}

.sort-type a:active {
  color: #000000;
  border-bottom: none;  
}


a.active {
  color: #81b3d2;
  border-bottom: none;
}

a.active:hover {
  color: #81b3d2;
  border-bottom: none;
}

.ascending {
  text-decoration: none;
  font-size: 0;
  position: absolute;
  top: 40px;
  right: 96px;
  width: 10px;
  height: 11px;
  background: #ffffff url(../img/sprite.png) no-repeat center;
  background-position: -15px -14px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.5;
}

.ascending:hover {
  opacity: 1;
}

.ascending:active {
  opacity: 1;
  background-position: -15px -51px;
}

.descending {
  text-decoration: none;
  font-size: 0;
  position: absolute;
  top: 39px;
  right: 72px;
  width: 11px;
  height: 11px;
  background: #ffffff url(../img/sprite.png) no-repeat center;
  background-position: -15px -14px;
  cursor: pointer;
  opacity: 0.5;
}

.descending:hover {
  opacity: 1;
  background-position: -15px -14px;
}

.descending.active {
  opacity: 1;
  background-position: -15px -51px;
}

.results {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 6%;
  position: relative;
  font-size: 0;
}

.results-img {
  display: block;
  float: left;
  margin: 29px 0;
  margin-right: 30px;
}

.results-info {
  float: left;
  text-align: left;
  vertical-align: top;
  margin: 29px 0;
}

.hotel-name {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 21px;  
  cursor: pointer;
}

.hotel-name:hover {
  color: #a8c9df;
}

.hotel-name:active {
  color: #cacaca;
}

.results-info p {
  display: inline-block;
  vertical-align: middle;
  margin-top: 7px;
  margin-right: 5px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  width: 110px;
}

.buttons {
  display: block;
  margin-bottom: -3px;
}

.details-btn {
  display: inline-block;
  vertical-align: top;
  background-color: #81b3d2;
  width: 110px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 3px 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 5px;
}

.details-btn a {
  text-decoration: none;
  color: #ffffff;
}

.details-btn:hover {
  background-color: #669ec0;  
}

.details-btn:active {
  background-color: #5496bd;
  color: #85b0cd;
}

.reserve-btn {
  display: inline-block;
  vertical-align: top;
  background-color: #766357;
  width: 142px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 3px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.reserve-btn a {
  text-decoration: none;
  color: #ffffff;
}

.reserve-btn:hover {
  background-color: #604e43;
}

.reserve-btn:active {
  background-color: #503e33;
  color: #72665f;
}

.star {
  position: absolute;
  top: 25px;
  right: 68px;
  width: 25px;
  font-size: 0;
  background: #ffffff url(../img/sprite.png) no-repeat center;
  background-position: -35px -185px;
}

.star-4 {
  width: 98px;
}

.star-2 {
  width: 50px;
}

.star-3 {
  width: 75px;
}

.rating {  
  position: absolute;
  text-align: center;
  color: #666666;
  bottom: 27px;
  right: 66px;
  width: 110px;
  display: block;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
  padding: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  min-height: 125px;
  opacity: 0.9;
}

.footer-hashtag {
  width: 33.33%;
  float: left;
  margin-top: 48px;
}

.footer-hashtag a {
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  width: 33.33%;
  float: left; 
  text-align: center;
  margin-top: 38px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: #81b3d2 url(../img/sprite.png) no-repeat center;
  vertical-align: top;
  text-decoration: none;
  margin-right: 6px;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background-color: #669ec0;
}

.footer-copyright {
  width: 33.33%;
  float: right;
  margin-top: 35px;
}

.footer-copyright p {
  display: inline-block;
  vertical-align: top;
  font-weight: 100;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: top;
  width: 115px;
  height: 40px;
  background-image: url(../img/sprite.png);
  background-position: -3px -493px;
  margin-left: 4px;
  margin-top: 8px;
}

.footer-copyright a:hover {
  background-position: -3px -556px;
}

.footer-copyright a:active {  
  background-position: -3px -493px;
  opacity: 0.5;
}

.social-btn-fb {
    background-position: -23px -107px;
}

.social-btn-fb:active {
    background-position: -77px -107px;
}

.social-btn-tube {
    background-position: -26px -240px;
}

.social-btn-tube:active {
    background-position: -81px -240px;
}

.social-btn-twt {
    background-position: -25px -305px;
}

.social-btn-twt:active {
    background-position: -79px -305px;
}

.sprite-star {
    background-position: -20px -200px;
}
